page-finalize-order {
    agm-map{
        width: 100%;
        height: 300px;
        position: relative;
        top: 0px;
        left: 0px;
    }
    .text-input::-moz-placeholder {
        color: white;
      }
      
      .text-input:-ms-input-placeholder {
        color: white;
      }
      
      .text-input::-webkit-input-placeholder {
        color: white;
      }
}
